* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F4F0;
  
}

#page {
  box-sizing: border-box;
  margin: 88px auto 80px;
	background-color: #FFFFFF;
	width: 1120px;
}

h1,
h2,
h3 {
  color: #1b1b1b;
}

h1 {
  font-size: 36px;
  line-height: 49px;
  margin: 8px 0 40px;
}

h2 {
  font-size: 32px;
  margin: 2px 0 8px;
  line-height: 44px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
  margin: 20px 0 4px;
}

p {
  font-size: 16px;
}

main h2 + p {
  margin-bottom: 27px;
}


.headline1 {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold; /* a fonte fica em negrito */
    color: #E1624F;
    text-transform: uppercase; /* a fonte fica com todas as letras em maiúsculo */
}

.headline2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold; /* a fonte fica em negrito */
  color: #E1624F;
  text-transform: uppercase; /* a fonte fica com todas as letras em maiúsculo */
  margin-top: 64px;
}

.subtitle {
  font-size: 16px;
  line-height: 22px;
  font-style: italic; /* Muda estilo da fonte para itálico */
  text-align: center;
  color: #333333;
  margin: 24px 0 44px;
}

.description {
	font-size: 16px;
  line-height: 22px;
  font-style: normal; /* Muda estilo da fonte para itálico */
  text-align: center;
  color: #333333;
  margin-top: 40px;
	margin-bottom: 130px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

main div img {
  height: 375px;
  object-fit: cover; /* Ajusta a proporção da imagem para caber no container disponível pra ela sem distorcer */
  margin-top: 44px;
}

img {
  border-radius: 28px;
  width: 100%;
}

ul {
  padding-left: 24px;
  font-weight: bold;
}

ul li::marker {
  color: #333333;

}



.accent-purple {
	color: #591B98;
	font-style: bold;
	font-size: 16px;
}

.accent-pink {
	color: #E5245E;
	font-style: bold;
	font-size: 16px;
}

.accent-blue {
	color: #0C51A7;
	font-style: bold;
	font-size: 16px;
}

.accent-orange {
	color: #E95E10;
	font-style: bold;
	font-size: 16px;
}

footer {
	color: #333333;
  text-align: center;
  padding-bottom: 41px;
  line-height: 150%;
}

footer img {
	vertical-align: middle;
	width: 16px;
	line-height: 150%;

}